<a href="https://colab.research.google.com/github/O-Kpy/Project/blob/main/%EB%89%B4%EC%8A%A4%EA%B8%B0%EC%82%AC_%ED%81%AC%EB%A1%A4%EB%9F%AC_%2B_DB_%EC%97%B0%EA%B2%B0_%EC%A0%81%EC%9E%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.5 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
from bs4 import BeautifulSoup
from datetime import datetime
import requests
import pandas as pd
import re

'''''''''''''''''''''''''''''''''''''''''''''''''''''''''
< naver 뉴스 검색시 리스트 크롤링하는 프로그램 > _select사용
- 크롤링 해오는 것 : 링크,제목,신문사,내용요약본
- 내용요약본  -> 정제 작업 필요
- 리스트 -> 딕셔너리 -> df -> csv로 저장
'''''''''''''''''''''

# 각 크롤링 결과 저장하기 위한 리스트 선언
title_text=[]
link_text=[]
source_text=[]
contents_text=[]
result={}

RESULT_PATH ='/content/'  # 결과 저장할 경로

# 내용 전처리
def contents_cleansing(contents):
    first_cleansing_contents = re.sub('<dl>.*?</a> </div> </dd> <dd>', '',str(contents)).strip()  # 앞에 필요없는 부분 제거
    second_cleansing_contents = re.sub('<ul class="relation_lst">.*?</dd>', '', first_cleansing_contents).strip()  # 뒤에 필요없는 부분 제거

 
    third_cleansing_contents = re.sub('<.+?>', '', second_cleansing_contents).strip()
    contents_text.append(third_cleansing_contents)
    #print(contents_text)

# 크롤링 시작
def crawler(maxpage,query,sort,s_date,e_date):
    s_from = s_date.replace(".","")
    e_to = e_date.replace(".","")
    page = 1
    maxpage_t =(int(maxpage)-1)*10+1
    while page <= maxpage_t:
        url = "https://search.naver.com/search.naver?where=news&query=" + query + "&sort="+sort+"&ds=" + s_date + "&de=" + e_date + "&nso=so%3Ar%2Cp%3Afrom" + s_from + "to" + e_to + "%2Ca%3A&start=" + str(page)
        response = requests.get(url)
        html = response.text

        # BeautifulSoup 인자값 지정
        soup = BeautifulSoup(html, 'html.parser')

        # <a>태그에서 제목과 링크주소 (a 태그 중 class 명이 news_tit인 것)
        atags = soup.find_all('a', 'news_tit')
        for atag in atags:
            title = atag.get('title')
            title_text.append(title)     # 제목
            link_text.append(atag['href'])   # 링크주소

        # 신문사 추출 (a 태그 중 class 명이 info press인 것)
        source_lists = soup.find_all('a', 'info press')
        for source_list in source_lists:
            source_text.append(source_list.text)    # 신문사

        # 본문요약본 (a 태그 중 class 명이 api_txt_lines dsc_txt_wrap인 것)
        contents_lists = soup.find_all('a','api_txt_lines dsc_txt_wrap')
        for contents_list in contents_lists:
            contents_cleansing(contents_list) # 본문요약 정제화

        # 모든 리스트 딕셔너리형태로 저장
        result= {"title":title_text ,  "source":source_text ,"link":link_text, "subtitle":query}
        df = pd.DataFrame(result)  # df로 변환
        page += 10

    # 새로 만들 파일이름 지정
    outputFileName = f'{query} merging.csv'
    df.to_csv(RESULT_PATH+outputFileName, index=False)



def main():
    info_main = input("="*50+"\n"+"입력 형식에 맞게 입력해주세요."+"\n"+" 시작하시려면 Enter를 눌러주세요."+"\n"+"="*50)
    maxpage = input("최대 크롤링할 페이지 수 입력하시오: ")
    query = input("검색어 입력: ")
    sort = input("뉴스 검색 방식 입력(관련도순=0  최신순=1  오래된순=2): ")
    s_date = input("시작날짜 입력(2019.01.04):")
    e_date = input("끝 날짜 입력(2019.01.05):")
    crawler(maxpage,query,sort,s_date,e_date)

main()

==================================================
입력 형식에 맞게 입력해주세요.
 시작하시려면 Enter를 눌러주세요.
==================================================
최대 크롤링할 페이지 수 입력하시오: 50
검색어 입력: 청년친화강소기업
뉴스 검색 방식 입력(관련도순=0  최신순=1  오래된순=2): 0
시작날짜 입력(2019.01.04):2018.01.01
끝 날짜 입력(2019.01.05):2021.10.12

In [ ]:
import pandas as pd
green = pd.read_csv('/content/녹색기업 merging.csv')  # 녹색기업 크롤링
family = pd.read_csv('/content/가족친화인증기업 merging.csv')
social = pd.read_csv('/content/사회적기업 merging.csv')
injae = pd.read_csv('/content/인재육성형중소기업 merging.csv')
gangso = pd.read_csv('/content/청년친화강소기업 merging.csv')

관련기사 = pd.concat([green, family, social, injae, gangso], axis=0)

In [ ]:
관련기사 = 관련기사.reset_index(drop=True).reset_index().rename(columns={'index':'c_board_id'})

In [ ]:
from sqlalchemy import create_engine  # sql에 csv저장해주는 라이브러리

engine = create_engine("mysql+pymysql://OhKyujin:"+"Ohkyujin!"+"@corpcollector.ciqetekukvwo.ap-northeast-2.rds.amazonaws.com:3306/Sharing_information?charset=utf8", encoding = "utf-8")
conn = engine.connect()

In [ ]:
관련기사.to_sql(name='관련기사', con=engine, if_exists='append',index=False)  # csv DB에 저장

# 파이썬 DB 접속 데이터 임포트

In [25]:
# SQL 접속
import pymysql

conn = pymysql.connect(host='corpcollector.ciqetekukvwo.ap-northeast-2.rds.amazonaws.com', user = 'OhKyujin', password='Ohkyujin!', db = 'Corp', charset = 'utf8') 
curs = conn.cursor(pymysql.cursors.DictCursor)

In [ ]:
import pandas as pd

sql = "select 기업명, 시도 from 가족친화인증기업"

가족친화인증기업 = pd.read_sql_query(sql,conn)

가족친화인증기업.columns = ['업체명', '소재지']

가족친화인증기업.head()

           업체명 소재지      기업유형
0    건강보험심사평가원  강원  가족친화인증기업
1      교보생명보험㈜  서울  가족친화인증기업
2     국민건강보험공단  강원  가족친화인증기업
3       국민연금공단  전북  가족친화인증기업
4  한국농수산식품유통공사  전남  가족친화인증기업

In [ ]:
sql = "select 업체명, 소재지, 업종 from 녹색기업"

녹색기업 = pd.read_sql_query(sql,conn)
녹색기업['기업유형'] = '녹색기업'
녹색기업.head()

              업체명                       소재지    업종  기업유형
0   한국동서발전㈜일산화력본부      경기도 고양시 일산동구 경의로 201    발전  녹색기업
1  페어차일드코리아반도체(주)   경기도 부천시 원미구 평천로 850길 55  전기전자  녹색기업
2     삼성전기㈜ 수원사업장  경기도 수원시 영통구 매영로 150(매탄동)  전기전자  녹색기업
3     삼성전자㈜ 수원사업장      경기도 수원시 영통구 매탄3동 416  전기전자  녹색기업
4   삼성디스플레이㈜기흥캠퍼스       경기도 용인시 기흥구 삼성2로 95  전기전자  녹색기업

In [ ]:
sql = "select 기관명, 소재지, 사회서비스분야 from 사회적기업"

사회적기업 = pd.read_sql_query(sql,conn)
사회적기업 = 사회적기업.rename(columns={'기관명':'업체명', '사회서비스분야':'업종'})
사회적기업['기업유형'] = '사회적기업'
사회적기업.head()

            업체명                                  소재지      업종   기업유형
0      (재)다솜이재단  서울특별시 마포구 동교로27길 3-10, 3층 희경빌딩(동교동)  간병가사지원  사회적기업
1     (재)아름다운가게               서울특별시 중구 소공로 34(회현동2가)      환경  사회적기업
2       (사)안심생활        부산광역시 금정구 구서2동 248-10 현대빌딩 4층    사회복지  사회적기업
3  사단법인 사회적기업청람               전라남도 영광군 영광읍 와룡로 177-9  간병가사지원  사회적기업
4          위캔센터             경기도 고양시 덕양구 혜음로 276(벽제동)      기타  사회적기업

In [ ]:
sql = "select 상호, 주소, 주생산품 from 인재육성형중소기업"

인재육성형중소기업 = pd.read_sql_query(sql,conn)
인재육성형중소기업 = 인재육성형중소기업.rename(columns={'상호':'업체명', '주소':'소재지', '주생산품':'업종'})
인재육성형중소기업['기업유형'] = '인재육성형중소기업'
인재육성형중소기업.head()

        업체명  ...       기업유형
0  (주)시스메이트  ...  인재육성형중소기업
1    에스포항병원  ...  인재육성형중소기업
2   이스트힐(주)  ...  인재육성형중소기업
3     (주)에그  ...  인재육성형중소기업
4  호스트센터(주)  ...  인재육성형중소기업

[5 rows x 4 columns]

In [ ]:
sql = "select 사업장명, 소재지, 업종 from 청년친화강소기업"

청년친화강소기업 = pd.read_sql_query(sql,conn)
청년친화강소기업 = 청년친화강소기업.rename(columns={'사업장명':'업체명'})
청년친화강소기업['기업유형'] = '청년친화강소기업'
청년친화강소기업.head()

            업체명  ...      기업유형
0         (유)아홉  ...  청년친화강소기업
1     (주)HS하이테크  ...  청년친화강소기업
2      (주)MS이엔지  ...  청년친화강소기업
3      주식회사 TSR  ...  청년친화강소기업
4  주식회사 가비아씨엔에스  ...  청년친화강소기업

[5 rows x 4 columns]

In [ ]:
Inter_corp = pd.concat([청년친화강소기업, 인재육성형중소기업, 사회적기업, 녹색기업, 가족친화인증기업], axis=0)
Inter_corp

               업체명  ...      기업유형
0            (유)아홉  ...  청년친화강소기업
1        (주)HS하이테크  ...  청년친화강소기업
2         (주)MS이엔지  ...  청년친화강소기업
3         주식회사 TSR  ...  청년친화강소기업
4     주식회사 가비아씨엔에스  ...  청년친화강소기업
...            ...  ...       ...
3323     해군제1함대사령부  ...  가족친화인증기업
3324     해군제2함대사령부  ...  가족친화인증기업
3325     해군제3함대사령부  ...  가족친화인증기업
3326     해군진해기지사령부  ...  가족친화인증기업
3327        해병대사령부  ...  가족친화인증기업

[5303 rows x 4 columns]

In [24]:
conn.close()  # DB 연결 닫기

In [23]:
from sqlalchemy import create_engine  # sql에 csv저장해주는 라이브러리

engine = create_engine("mysql+pymysql://OhKyujin:"+"Ohkyujin!"+"@corpcollector.ciqetekukvwo.ap-northeast-2.rds.amazonaws.com:3306/Corp?charset=utf8", encoding = "utf-8")
conn = engine.connect()

In [ ]:
Inter_corp.to_sql(name='Inter_corp', con=engine, if_exists='append',index=False)  # csv DB에 저장

# 청년친화강소기업, 인재육성형중소기업 지역구분 컬럼 전처리

In [30]:
import pandas as pd

sql = 'select * from 청년친화강소기업'

data = pd.read_sql_query(sql, conn)

In [31]:
# # 인재육성형중소기업 전처리, 지역 텍스트 전처리
data['지역'] = data['소재지'].apply(lambda x: x.split(' ')[0])
data['지역'] = data['지역'].replace({'인천':'인천광역시', '강원':'강원도', '경기':'경기도', '서울':'서울특별시', '서울광역시':'서울특별시', '부산':'부산광역시', '제주특별자치도':'제주도'})
data = data[['사업장명', '소재지', '업종', '지역']]
data.head()

           사업장명  ...     지역
0         (유)아홉  ...  서울특별시
1     (주)HS하이테크  ...    경기도
2      (주)MS이엔지  ...  부산광역시
3      주식회사 TSR  ...     경북
4  주식회사 가비아씨엔에스  ...    경기도

[5 rows x 4 columns]

In [32]:
conn.close()

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://OhKyujin:"+"Ohkyujin!"+"@corpcollector.ciqetekukvwo.ap-northeast-2.rds.amazonaws.com:3306/Corp?charset=utf8", encoding = "utf-8")
conn = engine.connect()

data.to_sql(name='청년친화강소기업_시각화', con=engine, if_exists='append',index=False)

In [48]:
# 인재육성형중소기업 전처리

sql = 'select * from 인재육성형중소기업'

data = pd.read_sql_query(sql, conn)

In [49]:
data['지역'] = data['주소'].apply(lambda x: x.split(' ')[1])
data['지역'] = data['지역'].replace({'대구광역시':'대구', '경상남도':'경남', '부산광역시':'부산', '대전광역시':'대전'})
data = data[['상호', '주소', '주생산품', '지역']]
data.head()

         상호  ...  지역
0  (주)시스메이트  ...  서울
1    에스포항병원  ...  경북
2   이스트힐(주)  ...  경기
3     (주)에그  ...  부산
4  호스트센터(주)  ...  서울

[5 rows x 4 columns]

In [50]:
conn.close()

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://OhKyujin:"+"Ohkyujin!"+"@corpcollector.ciqetekukvwo.ap-northeast-2.rds.amazonaws.com:3306/Corp?charset=utf8", encoding = "utf-8")
conn = engine.connect()

data.to_sql(name='인재육성형중소기업_시각화', con=engine, if_exists='append',index=False)

In [ ]:
# Inter_corp.drop_duplicates(subset='업체명', keep='first')  # --> 중복 제거

               업체명  ...      기업유형
0            (유)아홉  ...  청년친화강소기업
1        (주)HS하이테크  ...  청년친화강소기업
2         (주)MS이엔지  ...  청년친화강소기업
3         주식회사 TSR  ...  청년친화강소기업
4     주식회사 가비아씨엔에스  ...  청년친화강소기업
...            ...  ...       ...
3323     해군제1함대사령부  ...  가족친화인증기업
3324     해군제2함대사령부  ...  가족친화인증기업
3325     해군제3함대사령부  ...  가족친화인증기업
3326     해군진해기지사령부  ...  가족친화인증기업
3327        해병대사령부  ...  가족친화인증기업

[5150 rows x 4 columns]

In [ ]:
데이터 보고서 수정, 데이터 분석 그래프 및 설명글 작성 (기업 데이터 분석 카테고리)(그전에 대시보드 완성), 테이블 필요없는 컬럼날리기

In [ ]:
서비스 소개 > 개발과정에 넣을 본인의 개발 과정 글 작성 (사용한 프로그램, 구체적인 데이터 분석 과정)

In [ ]:
데이터 분석(tableau) 완성하기

In [ ]:
관심기업, 최근검색기업 --> DB

In [ ]:
# aws Lambda를 사용하여 크롤링, 데이터 적재 해보기